<navbar class="nav-bar">
    <div class="logo-placeholder">
            <img src="../../assets/cropped-pw25.jpeg" alt="pinkyWoman25" onclick="window.location.href='index.html'"/>
    </div>  
    <div>
        <a href="/src/customer/pages/index.html">Accueil</a>
        <a href="/src/customer/pages/produits.html">Tous Les Produits</a>
        <a href="/src/customer/pages/produits.html?discount">Promotions</a>
        <div class="dropdown">
            <a id="moreBtn">More ▼</a>
            <div id="dropdownmenu" class="dropdown-content">
                <a href="produits.html?category=pyjamas_manche_longue">pyjamas manche longue</a>
                <a href="produits.html?category=pyjamas_ete">pyjamas d'été</a>
                <a href="produits.html?category=robe_maison">robe maison</a>
            </div>
        </div>
    </div>
    <div class="search-wrapper">
        <input type="text" id="navSearchInput" placeholder="Search" />
        <div class="search-icon-container" id="searchIcon">
            <i class="fas fa-search"></i>
        </div>
    </div>
</navbar>    