<navbar class="nav-bar">
    <div class="logo-placeholder">
        <img src="/assets/cropped-pw25.jpeg" alt="pinkyWoman25" onclick="window.location.href='index.html'"/>
    </div>
    
    <div>
        <a href="/src/customer/pages/index.html">Accueil</a>
        <a href="/src/customer/pages/produits.html">Tous Les Produits</a>
        
        <div class="dropdown">
            <a id="moreBtn">More ▼</a>
            <div id="dropdownmenu" class="dropdown-content">
                <!-- Dropdown menu items will be populated here dynamically -->
            </div>
        </div>
    </div>
    
    <div class="search-wrapper">
        <input type="text" id="navSearchInput" placeholder="Search" />
        <div class="search-icon-container" id="searchIcon">
            <i class="fas fa-search"></i>
        </div>
    </div>
</navbar>